header {
    border-bottom: 1px solid;
    color: #ECECEC;
}
.portfolio-link.current {
    color: var(--accsent-color);
}
.portfolio-link.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-link:hover,
.header-link:focus{
    color: #2196F3;
}

.portfolio-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.portfolio-link:hover,
.portfolio-link:focus {
    color: #2196F3;
}
.portfolio-link {
    position: relative;
    display: block;
}

.portfolio-link.current::after {
    content: "";
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    position: absolute;
    display: inline-block;
    background-color: var(--accsent-color);
    border-radius: 2px;
}
/*booton*/
.btn.current {
    background-color: var(--accsent-color);
}

.btn {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

.btn:focus {
    color: #FFFFFF;
    background-color: var(--accsent-color)
}


/*portfolio*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    list-style: none;
}

.portfolio-item {
    margin-left: 8px;
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px 
    rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.top-wrap {
    position: relative;
    overflow: hidden;
}

.galery-item:hover .top-text {
    transform: translateY(0%);
}

.top-text {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    padding: 40px;
    width: 370px;
    height: 294px;
    transform: translateY(100%);
    transition: transform 250ms linear;
    overflow: auto;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.portfolio-title {
    margin-bottom: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-text {

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /*виставити елементи по вертикалі та горизонталі*/
}

/* margin-left: -30px;
    margin-bottom: -30px;
}
.calery-item{
 width:  calc(100%/3 - 30px);  
 margin-left: 30px;
 margin-bottom: 30px;
}*/
.galery-item:hover,
.galery-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto-bottom {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
    margin-left: 0;
    margin-right: 0;
}

/*.galery-link:hover .galery-item{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}*/

.galery-item {
    display: block;
}












